CollaboRhythm.Core.Model/src/assets/healthRecord/schemas/data/common/codes.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://indivo.org/vocab/xml/documents#"
           elementFormDefault="qualified">

  <xs:complexType name="CodedValue">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="system" type="xs:string" minOccurs="0"/>
      <xs:element name="identifier" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
